<h1 class="pb-4">About Us</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/home">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">About</li>
    </ol>
</nav>

<div class="row">
    <h3>
        This website is made by Shivali Sharma. A third year student at Univeristy of Winnipeg.

    </h3>
    <h6>
        Welcome to our travel and exploration platform, where discovering new places is made exciting and effortless. Our website is your gateway to sharing and exploring hidden gems, uncovering marvelous destinations, and contributing to a collective atlas of urban wonders.

Explore & Share:
Whether you're a seasoned traveler or a local enthusiast, our platform invites you to add and explore new places. Share your latest discoveries, must-visit spots, or cherished locations with the world. Your unique experiences can inspire others to embark on their own adventures.

Search & Discover:
Navigate through a vast array of locations based on your preferences. Search by location or category to find places that resonate with your interests. Explore diverse categories and uncover the magic waiting to be discovered in each corner of the globe.

Random Adventure:
Feeling spontaneous? Let us surprise you! Our platform suggests random, unexplored places for your next adventure. Embrace the thrill of the unknown and embark on an unexpected journey to find your next favorite spot.

Adding Your Adventure:
Did you recently uncover a breathtaking view, a cozy cafe, or an adrenaline-pumping adventure spot? Share it with our community! Add your found delights and let the world uncover the magic of your discovered place.

Join us in the quest to celebrate the wonders of every city. Let's inspire, share, and explore together!
    </h6>
</div>