<h1 class="pb-4">Contact</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/home">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">About</li>
    </ol>
</nav>

<div class="row">
    <h3>
        Name: Shivali Sharma <br><br>
        Email: sharma-s77@webmail.uwinnipeg.ca
    </h3>
    
</div>